html, body {
	font-size: 16px;
	line-height: 1.7;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Open Sans'
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
	font-family: $p500!important;
	letter-spacing: 0px!important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}

ol, ul {
  list-style: none; 
}

input, textarea, button, select, option, optgroup, fieldset, label {
	appearance: none;
	outline: none;
	border: 0;
}

a {
	display: inline-block;
	text-decoration: none;
	color: currentColor;
}
