/// color
$primary-color: #0d2565;
$color: #000;
$secondary-color: transparent;
$main: #80C3F3;
$g: linear-gradient(to bottom, rgba(61, 182, 83, .2) 0, rgba(58, 131, 168, .24) 100%),
    linear-gradient(-225deg, #80C3F3 0, #0040CE 100%);
$gr: linear-gradient(to top, rgba(61, 182, 83, .2) 0, rgba(58, 131, 168, .24) 100%),
     linear-gradient(45deg, #80C3F3 0, #0040CE 100%);

/// flex
$flex-child-spacing: 10px;
$breakpoint-medium: 992px;
$breakpoint-small: 768px;
$breakpoint-xsmall: 320px;
$breakpoint-nav-transform: $breakpoint-small;

/// section > content
$content-max-width: 1180px;
$content-padding: 8% 5%;

/// nav 
$nav-font-color: #fbfbfb;
$nav-bg-color: transparent;
$mobile-nav-icon-color: transparent;
$mobile-nav-list-bg-color: $primary-color;
$nav-height: 60px;
$mobile-nav-height: 50px;

/// z-index
$nav-zindex: 30;
$popup-zindex: 31;

/// font-family
$p100: Karla-Ultralight, Open Sans, sans-serif, Lato;
$p200: Karla-Thin, Open Sans, sans-serif, Lato;
$p300: Karla-Light, Open Sans, sans-serif, Lato;
$p400: Karla-Regular, Open Sans, sans-serif, Lato;
$p500: Karla-Medium, Open Sans, sans-serif, Lato;
$p600: Karla-Medium, Open Sans, sans-serif, Lato;
